body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    display: none;
}

#file-label {
    
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}


#file-label:hover {
    background-color: #2980b9;
}

#file-label {
    margin-bottom: 20px;
    display: block;
}

#file-details {
    display: none;
}

button {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #27ae60;
}

 /* Basic styling for the dropdown container */
 .styled-select {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    font-family: Arial, sans-serif;
}

/* Styling for the select element */
.styled-select select {
    background-color: #3498db;
    color: white;
    padding: 10px;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    appearance: none; 
    cursor: pointer;
}

/* Styling for the arrow icon */
.styled-select::after {
    content: '\25BC'; 
    font-size: 16px;
    color: white;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}